<!DOCTYPE html>
    <head>
        <title>Temperature</title>
    </head>

    <body>
        <table>
             <thead>
                 <tr>
                     <th>ID</th>
                     <th>User Id</th>
                     <th>Errands</th>
                     <th>Create Date</th>
                     <th>Due Date</th>
                     <th>Comleted</th>
                 </tr>
             </thead>
             <tbody>
                 {% for record in data %}
                     <tr>
                       <td>{{ record[0] }}</td>
                       <td>{{ record[1] }}</td>
                       <td>{{ record[2] }}</td>
                       <td>{{ record[3] }}</td>
                       <td>{{ record[4] }}</td>
                       <td>{{ record[5] }}</td>
                     </tr>
                 {% endfor %}              
             </tbody>
        </table>
    </body>
</html>
