<!DOCTYPE html>
    <head>
        <title>Temperature</title>
    </head>

    <body>
        <table>
             <thead>
                 <tr>
                     <th>Date</th>
                     <th>Min Temperature</th>
                     <th>Average Temperature</th>
                     <th>Max Temperature</th>
                 </tr>
             </thead>
             <tbody>
                 {% for record in data %}
                     <tr>
                       <td>{{ record[0] }}</td>
                       <td>{{ record[1] }}</td>
                       <td>{{ record[2] }}</td>
                       <td>{{ record[3] }}</td>
                     </tr>
                 {% endfor %}              
             </tbody>
        </table>
    </body>
</html>
